.App {
  text-align: center;
}

a:visited {
  color: black;
}

.list {
  list-style: none;
  display: flex;
  text-decoration: none;
}
li {
  padding-right: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

